//output:index.html, pretty:true

head
  title Phillip R.
  link(rel="stylesheet" href="./assets/css/main.css" type="text/css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js")
    
body
  .container
    .profilePic
      .picBorder
    .profileName
      h1 Phillip Rognerud
      .wrapper
        span.element
    hr
    .about
      p 
        | Hey, I'm Phillip. I'm pursuing my bachelors in software engineering.
        | I am a self-motivated programmer, and I love learning about new technologies.
      p
        | Some technologies I have worked with are 
        a(href="google.com") Django
        | , 
        a(href="google.com") AWS
        | , and 
        a(href="google.com") Wordpress
        | .
      p
        | Have a look through some of my projects. Learn more about me, 
        | and discover why you should hire me.
      .links
        ul#limheight
          li
            .fa.fa-file-text(aria-hidden="true")  Resume
          li
            .fa.fa-envelope(aria-hidden="true")  Email
          li
            .fa.fa-github(aria-hidden="true")  GitHub
          li
            .fa.fa-linkedin(aria-hidden="true")  LinkedIn
          li
            .fa.fa-codepen(aria-hidden="true")  Codepen
  .bottom
    .box
      span.fa.fa-expand
      p about me
      span.text 
        | Hey, I'm a software engineer.
        | I am focusing my efforts in web technologies. I work well with both front-end and back-end.
        br
        br
        | What I'm up to recently:
        ul
          li Learning from classes online on udemy and udacity
          li Working on this portfolio website using Pug, SASS, and CoffeeScript
          li Dabbling in DevOps technologies
          li Spending time outdoors in nature
      
    .box
      span.fa.fa-expand
      p Languages
      span.text Here is a list of languages I have worked with, and my expertise level of each.
      ul#progress
        li
          .language Python
          .meter
            span(style="width: 0%")
        li
          .language Javascript
          .meter
            span(style="width: 0%")
        li
          .language Java
          .meter
            span(style="width: 0%")
        li
          .language C
          .meter
            span(style="width: 0%")
            
        li
          .language PHP
          .meter
            span(style="width: 0%")
            
        li
          .language HTML+CSS
          .meter
            span(style="width: 0%")

    .box
      span.fa.fa-expand
      p Hire Me
      span.text I've been passionate about computers, programming, and videos games since I was in middle school tes tes teste st ease-in-out.

  script(src="./assets/coffeescripts/js/portfolio.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js")
  script.
    document.addEventListener('DOMContentLoaded', function(){
        Typed.new('.element', {
          strings: ["Software Engineer", "Taco Cannoisseur", "Bay Area Native", "Front End Developer", "\"a really cool guy\""],
          typeSpeed: 20,
          backDelay: 10000,
          backSpeed: 10,
          loop: true,
          startDelay: 1300
        });
    });
