//output:index.html, pretty:true

head
  title Phillip R.
  link(rel="stylesheet" href="./assets/css/main.css" type="text/css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js")
    
body
  .container
    .profilePic
      .picBorder
    .profileName
      h1 Phillip Rognerud
      .wrapper
        span.element
    hr
    .about
      p 
        | Hey, I'm Phillip. I'm pursuing my bachelors in software engineering.
        | I am a self-motivated programmer, and I love learning about new technologies.
      p
        | Some technologies I have worked with are 
        a(href="https://facebook.github.io/react/") React.js
        | , 
        a(href="https://nodejs.org/en/") Node.js
        | , 
        a(href="https://www.djangoproject.com/") Django
        | , and
        a(href="https://wordpress.com/") WordPress
        | .
      p
        | Have a look through some of my projects. Learn more about me, 
        | and discover why you should hire me.
      .links
        ul#limheight
          li
            .fa.fa-file-text(aria-hidden="true" )  
              a(target="_blank", href="http://s3.phillip-rognerud.com/phillipr_resume17.pdf") 
                | Resume
          li
            .fa.fa-envelope(aria-hidden="true")  Email
          li
            .fa.fa-github(aria-hidden="true")  
              a(target="_blank", href="https://github.com/philliprognerud")
                | GitHub
          li
            .fa.fa-linkedin(aria-hidden="true")  
              a(target="_blank", href="https://www.linkedin.com/in/phillip-rognerud-8aa59010b/")
                | LinkedIn
          li
            .fa.fa-codepen(aria-hidden="true")  
              a(target="_blank", href="https://codepen.io/philliprognerud/")
                | Codepen
  .bottom
    .box
      span.fa.fa-expand
      p about me
      span.text 
        | Hey, I'm a software engineer.
        | I am focusing my efforts in web technologies. I work well with both front-end and back-end.
        br
        br
        | What I'm up to recently:
        ul
          li Attending classes are San Jose State University, and also learning from massive open online courses from udemy.com
          li Spending a lot of time developing my csgo_match website. I spent all summer coding it, and there's still a ways to go. Check it out!
          li Dabbling in DevOps technologies, and machine learning
          li Spending time outdoors in nature
      
    .box
      span.fa.fa-expand
      p Languages
      span.text Here is a list of languages I have worked with, and my expertise level of each.
      ul#progress
        li
          .language Python
          .meter
            span(style="width: 0%")
        li
          .language Javascript
          .meter
            span(style="width: 0%")
        li
          .language Java
          .meter
            span(style="width: 0%")
        li
          .language C
          .meter
            span(style="width: 0%")
        li
          .language C++
          .meter
            span(style="width: 0%")
        li
          .language PHP
          .meter
            span(style="width: 0%")
            
        li
          .language HTML+CSS
          .meter
            span(style="width: 0%")
        li
          .language Scala
          .meter
            span(style="width: 0%")


    .box
      span.fa.fa-expand
      p Technologies
      span.text This is under developement
      
    .box
      span.fa.fa-expand
      p Hire Me
      span.text This is under development

  script(src="./assets/coffeescripts/js/portfolio.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js")
  script.
    document.addEventListener('DOMContentLoaded', function(){
        Typed.new('.element', {
          strings: ["Software Engineer", "Taco Cannoisseur", "Bay Area Native", "Front End Developer", "\"a really cool guy\""],
          typeSpeed: 20,
          backDelay: 10000,
          backSpeed: 10,
          loop: true,
          startDelay: 1300
        });
    });
