//output:index.html, pretty:true

head
  title Phillip R.
  link(rel="stylesheet" href="./assets/css/main.css" type="text/css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js")
    
body
  .container
    .profilePic
      .picBorder
    .profileName
      h1 Phillip Rognerud
      h2 Software Engineer
    hr
    .about
      p 
        | Hey, I'm Phillip. I'm pursuing my bachelors in software engineering.
        | I am a motivated programmer, and I love learning about new technologies.
      p
        | Some technologies I have worked with are 
        a(href="google.com") Django
        | , 
        a(href="google.com") AWS
        | , and 
        a(href="google.com") Wordpress
        | .
      .links
        ul#limheight
          li
            .fa.fa-file-text(aria-hidden="true")  Resume
          li
            .fa.fa-envelope(aria-hidden="true")  Email
          li
            .fa.fa-github(aria-hidden="true")  GitHub
          li
            .fa.fa-linkedin(aria-hidden="true")  LinkedIn
          li
            .fa.fa-codepen(aria-hidden="true")  Codepen
  .bottom
    .box
    
  script(type="text/javascript" src="./assets/coffeescripts/js/typer.js")
  script(src="./assets/coffeescripts/js/portfolio.js")
