//output:index.html, pretty:true

head
  title Phillip R.
  link(rel="stylesheet" href="./assets/css/main.css" type="text/css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js")
    
body
  .container
    .profilePic
      img(alt="smiley face")
    .profileName
      h1 Phillip Rognerud
    .about
      p this is my about section where i talk about myself
    .links  
      a(href='google.com') TETDSSTSTSESE
    
  script(type="text/javascript" src="./assets/coffeescripts/js/typer.js")
  script(src="./assets/coffeescripts/js/portfolio.js")
