/* line 3, ../compass/scss/partials/_profilePic.scss */
.profilePic {
  display: inline-block;
  float: left;
  background-image: url('../images/profile-pic.jpg?1498031840');
  background-size: contain;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  opacity: 0;
  animation: slideDown 1.2s ease-in-out forwards;
  margin-bottom: 15px;
  background-repeat: no-repeat;
}

/* line 18, ../compass/scss/partials/_profilePic.scss */
.picBorder {
  margin: 0 auto;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  animation: colorchange-shadow 15s infinite linear alternate;
}

/* line 3, ../compass/scss/partials/_profileName.scss */
.profileName {
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 60px;
}
/* line 9, ../compass/scss/partials/_profileName.scss */
.profileName h1 {
  animation: slideDown 1.2s ease-in-out .10s forwards;
  margin: 0;
  opacity: 0;
  font-size: 30px;
}
/* line 15, ../compass/scss/partials/_profileName.scss */
.profileName .element {
  animation: colorchange-text 15s infinite linear alternate;
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 24, ../compass/scss/partials/_profileName.scss */
.profileName .wrapper {
  height: 30px;
}

/* line 29, ../compass/scss/partials/_profileName.scss */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.9s infinite;
  -moz-animation: blink 0.9s infinite;
  animation: blink 0.9s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn-color {
  0% {
    background: white;
  }
  100% {
    background: #181818;
  }
}
@keyframes fadeOut-color {
  0% {
    background: #181818;
  }
  100% {
    background: white;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes colorchange {
  0% {
    background: #FF8A6B;
  }
  25% {
    background: #FFAE6B;
  }
  50% {
    background: #429E9E;
  }
  75% {
    background: #57CF57;
  }
  100% {
    background: #FF6B6B;
  }
}
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #FF6B6B;
  }
  25% {
    background: #FFED6B;
  }
  50% {
    background: #4EB97D;
  }
  75% {
    background: #7854B2;
  }
  100% {
    background: #FF8A6B;
  }
}
@keyframes colorchange-text {
  0% {
    color: #FF8A6B;
  }
  25% {
    color: #FFAE6B;
  }
  50% {
    color: #429E9E;
  }
  75% {
    color: #57CF57;
  }
  100% {
    color: #FF6B6B;
  }
}
@keyframes colorchange-shadow {
  0% {
    box-shadow: 0px 0px 10px #FF8A6B;
  }
  25% {
    box-shadow: 0px 0px 10px #FFAE6B;
  }
  50% {
    box-shadow: 0px 0px 10px #429E9E;
  }
  75% {
    box-shadow: 0px 0px 10px #57CF57;
  }
  100% {
    box-shadow: 0px 0px 10px #FF6B6B;
  }
}
@-webkit-keyframes colorchange-border /* Safari and Chrome - necessary duplicate */ {
  0% {
    border-color: #FF6B6B;
  }
  25% {
    border-color: #FFED6B;
  }
  50% {
    border-color: #4EB97D;
  }
  75% {
    border-color: #7854B2;
  }
  100% {
    border-color: #FF8A6B;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideRightIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideLeftIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-moz-keyframes slideDown {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideDown-small {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  70% {
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-moz-keyframes slideDown-small {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  70% {
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  80% {
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-moz-keyframes slideUp {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  80% {
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes Rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@-moz-keyframes Rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
/* line 4, ../compass/scss/partials/_box.scss */
.box {
  width: 650px;
  display: block;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 21, ../compass/scss/partials/_box.scss */
.box p {
  margin: 0;
  padding-top: 30px;
  padding-left: 60px;
  line-height: 20px;
  color: cornflowerblue;
}
/* line 29, ../compass/scss/partials/_box.scss */
.box .fa {
  float: right;
  margin: 15px;
}
/* line 34, ../compass/scss/partials/_box.scss */
.box span.text {
  line-height: 1.5;
  font-size: 17px;
  text-transform: initial;
  padding-top: 15px;
  padding-left: 80px;
  padding-right: 65px;
  display: inline-block;
  text-align: left;
  font-weight: 200;
  display: none;
}
/* line 47, ../compass/scss/partials/_box.scss */
.box ul {
  margin: 0;
}
/* line 49, ../compass/scss/partials/_box.scss */
.box ul li {
  margin: 10px;
}
/* line 54, ../compass/scss/partials/_box.scss */
.box .language {
  display: table-cell;
  vertical-align: middle;
  line-height: 15px;
  float: left;
}

/* line 64, ../compass/scss/partials/_box.scss */
.box:hover > .fa {
  color: #5AD770;
}

/* line 68, ../compass/scss/partials/_box.scss */
.box:nth-child(1) {
  margin-top: 90px;
}

/* line 72, ../compass/scss/partials/_box.scss */
.gradient1, .bottom {
  background: #70e1f5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* line 80, ../compass/scss/partials/_box.scss */
.meter {
  display: table-cell;
  float: right;
  width: 55%;
  height: 15px;
  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

/* line 93, ../compass/scss/partials/_box.scss */
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  background-image: linear-gradient(to center top, #2bc253 37%, #54f054 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

/* line 113, ../compass/scss/partials/_box.scss */
.meter > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

/* line 137, ../compass/scss/partials/_box.scss */
ul#progress {
  display: none;
  opacity: 0;
  width: 100%;
  color: #181818;
  height: 100px;
  padding-left: 70px;
}
/* line 144, ../compass/scss/partials/_box.scss */
ul#progress li {
  display: inline-block;
  width: 470px;
}
/* line 148, ../compass/scss/partials/_box.scss */
ul#progress li:first-of-type {
  padding-top: 25px;
}

/* line 3, ../compass/scss/partials/_about.scss */
.about {
  animation: slideDown-small .75s ease-in-out 3.0s forwards;
  opacity: 0;
  margin: 10px;
  padding-right: 15px;
  padding-top: 10px;
  font-size: 17px;
}
/* line 11, ../compass/scss/partials/_about.scss */
.about p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 17px;
}

/* line 4, ../compass/scss/partials/_links.scss */
.links {
  display: inline-block;
  width: 100%;
  height: 100px;
}
/* line 8, ../compass/scss/partials/_links.scss */
.links .fa {
  font-size: 20px;
  padding: 3px;
}
/* line 13, ../compass/scss/partials/_links.scss */
.links #limheight {
  width: 100%;
  color: #181818;
  padding-left: 0;
  padding-right: 70px;
  height: 100px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
/* line 22, ../compass/scss/partials/_links.scss */
.links #limheight li {
  display: inline-block;
}
/* line 25, ../compass/scss/partials/_links.scss */
.links #limheight li:hover {
  color: hotpink;
  cursor: pointer;
}

/* line 3, ../compass/scss/main.scss */
html body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  color: #000000;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

/* line 25, ../compass/scss/main.scss */
a {
  color: hotpink;
  text-decoration: none;
}
/* line 28, ../compass/scss/main.scss */
a:hover {
  border-bottom: 3px solid hotpink;
}

/* line 34, ../compass/scss/main.scss */
.container {
  position: fixed;
  z-index: 0;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  margin: 0 auto;
}
/* line 41, ../compass/scss/main.scss */
.container hr {
  opacity: 0;
  animation: fadeIn 0.75s ease-in-out 2.3s forwards;
  display: inline-block;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgba(62, 62, 143, 0.1);
  width: 100%;
}

/* line 53, ../compass/scss/main.scss */
.bottom {
  display: inline-block;
  height: 640px;
  position: relative;
  width: 100%;
  top: 95%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1;
  opacity: 0;
  animation: slideUp 1.25s ease-in-out 2.7s forwards;
}

/* line 70, ../compass/scss/main.scss */
.bottom-shadow-black {
  -webkit-box-shadow: 0px -1px 7px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px -1px 7px rgba(50, 50, 50, 0.7);
  box-shadow: 0px -1px 7px rgba(50, 50, 50, 0.7);
}

/* line 76, ../compass/scss/main.scss */
.bottom-shadow-white {
  -webkit-box-shadow: 0px -1px 7px rgba(250, 250, 250, 0.7);
  -moz-box-shadow: 0px -1px 7px rgba(250, 250, 250, 0.7);
  box-shadow: 0px -1px 7px rgba(250, 250, 250, 0.7);
}

/* line 82, ../compass/scss/main.scss */
.bottom-animation {
  animation: colorchange 15s infinite linear alternate, slideUp 1.25s ease-in-out 2.7s forwards;
}

/* line 86, ../compass/scss/main.scss */
.bottom-reanimation {
  animation: colorchange 10s infinite linear alternate;
}

/* line 90, ../compass/scss/main.scss */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* line 95, ../compass/scss/main.scss */
.bottom-fadeOut {
  animation: fadeOut-color 0.4s ease-in-out forwards;
}

/* line 99, ../compass/scss/main.scss */
.bottom-fadeIn {
  animation: fadeIn-color 0.4s ease-in-out forwards;
}
